<div class="tasks-container">
    <div class="task-type">
        <h1>To do</h1>
        <p>What I need to do</p>
        <p>Doing</p>
    </div>
    <div class="task-type">
        <h1>Doing</h1>
        <p>What I need to do</p>
        <p>Change</p>
    </div>
    <div class="task-type">
        <h1>Done</h1>
        <p>What I need to do</p>
        <p>Doing</p>
    </div>
</div>